<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>it.tostao.outlook.cleanup</string>
    <key>ProgramArguments</key>
    <array>
        <string>osascript</string>
        <string>/Users/sleski/Library/Scripts/outlook-jenkins.scpt</string>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/sleski/var/log/outlook-cleanup.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/sleski/var/log/outlook-cleanup.log</string>
    <key>StartInterval</key>
    <integer>3600</integer>
</dict>
</plist>

